**/__pycache__
**/*.py[cod]
**/*$py.class

.vscode/
.git/
.github/
.makefiles/
.environments/
.docker/
node_modules/
webpack/
**/.mypy_cache/
**/.pytest_cache/
**/.ruff_cache/

.gitignore
.gitattributes
.python-version
*.md
*.rst
.pre-commit-config.yaml
CHANGELOG.md
CONTRIBUTING.md
README.md

merge-dotenv.py
