{% load static %}

<script src="{% static 'js/core/jquery-3.7.1.min.js' %}"></script>
<script src="{% static 'js/core/popper.min.js' %}"></script>
<script src="{% static 'js/core/bootstrap.min.js' %}"></script>
<script src="{% static 'js/plugin/jquery-scrollbar/jquery.scrollbar.min.js' %}"></script>
<script src="{% static 'js/plugin/chart.js/chart.min.js' %}"></script>
<script src="{% static 'js/plugin/jquery.sparkline/jquery.sparkline.min.js' %}"></script>
<script src="{% static 'js/plugin/chart-circle/circles.min.js' %}"></script>
<script src="{% static 'js/plugin/datatables/datatables.min.js' %}"></script>
<script src="{% static 'js/plugin/bootstrap-notify/bootstrap-notify.min.js' %}"></script>
<script src="{% static 'js/plugin/jsvectormap/jsvectormap.min.js' %}"></script>
<script src="{% static 'js/plugin/jsvectormap/world.js' %}"></script>
<script src="{% static 'js/plugin/gmaps/gmaps.js' %}"></script>
<script src="{% static 'js/plugin/sweetalert/sweetalert.min.js' %}"></script>
<script src="{% static 'js/core.min.js' %}"></script>
